.content {
    padding: 20px;
    background-color:beige;
  }
  
  .text {
    font-size: 18px;
    line-height: 1.6;
  }
  .cat {
    margin-bottom: 20px;
  }
  
  .cat img {
    display: block;
    max-width: 10%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .cat p {
    font-size: 14px;
    color: #666;
  }  